<p id="notice"><%= notice %></p>

<p>
  <strong>Telephone:</strong>
  <%= @portfolio.telephone %>
</p>

<p>
  <strong>About:</strong>
  <%= @portfolio.about %>
</p>

<p>
  <strong>Strengths:</strong>
  <%= @portfolio.strength %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @portfolio.skill %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
