<div class="text-base font-medium text-teal-600 py-2 px-4 rounded">
    <h1 class='font-black text-6xl text-center'>Jobs</h1>
</div>
<!--
    Using ransack gem for the filter. 

    Filtre:
        * Code postal                                   DONE
        * Max distance
    Entreprise
        Qiwie, Aubay ....                               DONE   
    Experience
        Junior, Medior, Senior                          DONE
    Type de contrat
        Partiel time, half time, full time              DONE
    Technologies
        Javascript, Python, Ruby, C#, Java, ...         DONE
-->
<aside class="float-left w-60 p-8 bg-teal-700 m-1">
    <div class="text-xs font-light text-teal-200"><%= @countJob %> jobs found.</div>
   <%= search_form_for @q do |j|%>
        <h4 class="text-2xl text-teal-200">Filtre</h4>
        <div class="text-lg text-teal-400">

            <%= fa_icon "location-arrow" %>
            <%= j.label :adresse_postalCode_cont, 'Code postal' %>
            <%= j.search_field :adresse_postalCode_cont %>
            <br/>
            
            <%= fa_icon "file-alt" %>
            <%= j.label :contracttype_name_cont, 'Contract type?'%>
             <%= j.collection_select :contracttype_id_eq, Contracttype.all, :id, :name, include_blank: true %>

            <br/>
            <%= fa_icon "building" %>
            <%= j.label :entreprise_name_cont, 'Entreprise?'%>
            <%= j.search_field :entreprise_name_cont %>

            <br/>
            <%= fa_icon "laptop" %>
            <%= j.label :experience_id_eq, 'Experience' %>
            <br/>
            <%= j.collection_select :experience_id_eq, Experience.all, :id, :name, include_blank: true %>
            
            <br/>
            <%= fa_icon "cogs" %>
            <%= j.label :name_cont, 'Technology?' %>
            <%= j.search_field :name_cont %>
        </div>
        
        <br/>
        <div class="bg-teal-900 py-2 px-4 rounded-md hover:bg-teal-400"><%=j.submit %></div>
    <% end %>
</aside>

<% @jobs.each do |job|%>
    <div class="bg-teal-700 rounded-lg shadow-lg mt-8 w-2/5 mx-auto">
    <div class="flex flex-row justify-center">
        <p class="font-black text-2xl text-center"> <%= job.entreprise.name %></p>
         <%=  button_to(action: "likeCompany", id: job.id) do%>
            <%= fa_icon "heart", class: "" %>
         <% end %>
    </div>
        <div  class="flex justify-around flex-wrap font-black text-1xl text-center"> 
            <a class="bg-teal-400 py-2 px-4 border border-transparent 
            rounded-md text-base font-medium text-white hover:bg-teal-300 mb-6" 
            href="<%= job_path(job.id)%>">
             <%= job.name %>
            </a>
        </div>
    </div>
<% end %>

<br/><br/><br/>
<div class="text-base font-medium text-teal-600 py-2 px-4 rounded pb-6">
    <h1 class='font-black text-6xl text-center'>Companies</h1>
</div>
<div class="flex flex-row justify-center gap-4 flex-wrap">
<% @entreprises.each do |e|%>
    <div class="m-4 bg-teal-700 rounded-lg shadow-lg w-2/12 h-48 font-black text-2xl text-center">
        <%= e.name %>
    </div>
    <div class="m-4 bg-teal-700 rounded-lg shadow-lg w-2/12 h-48 font-black text-2xl text-center">
        <%= e.name %>
    </div>
    <div class="m-4 bg-teal-700 rounded-lg shadow-lg w-2/12 h-48 font-black text-2xl text-center">
        <%= e.name %>
    </div>
<% end %>
</div>


