<div class="mx-16">
    <dl class="text-left w-full bg-teal-700 pr-4">
        <dd class="text-center text-2xl font-semibold text-teal-400"><%= @job.name %></dd>  
        <% if current_user %>        
            <dd class= "float-right"><%= button_to 'Apply', :action => "apply", id: @job.id, form_class: "w-12 h-4 bg-red-500" %></dd>                           
        <% end %>
        <dd class="text-teal-200 pl-4">Location: <%= @adresse.street + ", " + @adresse.city + ", " + @adresse.country %></dd> 
        <div class="flex flex-row justify-between">
            <dd class="text-teal-200 pl-4">Entreprise: <%= @entreprise.name %></dd> 
            <%=  button_to(action: "likeCompany", id: @job.id) do%>
              <div class="text-green-600"> Like this company <%= fa_icon "heart", class: "text-red-600 " %> </div>
            <% end %>
        </div>
        
        <dd class="text-teal-200 pl-4">Contract type: <%= @contractType.name %></dd>
        <dd class="text-teal-200 pl-4">Experience: <%= @experiences.name %></dd>
        <% unless @job.dateAdded.nil? %>
            <dd class="text-teal-200 pl-4">Date added: <%= @job.dateAdded %></dd>
        <% end %>
    </dl>
    
    <div>
        <h2 class="text-xl font-medium text-teal-400">Job description</h2>
        <p><%= @job.description %></p>
        <h2 class="text-xl font-medium text-teal-400">Job expectations</h2>
        <p><%= @job.expectations %></p>
    </div>
    <%= link_to "Back", :back %>
</div>

