<div class="mx-16">
    <dl class="text-left w-full bg-teal-700">
        <dd class="text-center text-2xl font-semibold text-teal-400"><%= @job.name %></dd>  
        <% if current_user %>
            <dd><%= button_to 'Apply', :action => "apply", id: @job.id, data: { confirm: "Aplly ?" } %></dd>
                                                                             <!--confirm is not working ... -->                               
        <% end %>
        <dd class="text-teal-200 pl-4">Location: <%= @adresse.street + ", " + @adresse.city + ", " + @adresse.country %></dd> 
        <dd class="text-teal-200 pl-4">Entreprise: <%= @entreprise.name %></dd> 
        <dd class="text-teal-200 pl-4">Contract type: <%= @contractType.name %></dd>
        <dd class="text-teal-200 pl-4">Experience: <%= @experiences.name %></dd>
        <% unless @job.dateAdded.nil? %>
            <dd class="text-teal-200 pl-4">Date added: <%= @job.dateAdded %></dd>
        <% end %>
    </dl>

    <div>
        <h2 class="text-xl font-medium text-teal-400">Job description</h2>
        <p><%= @job.description %></p>
        <h2 class="text-xl font-medium text-teal-400">Job expectations</h2>
        <p><%= @job.expectations %></p>
    </div>
</div>

