<div class="w-full shadow-lg flex flex-row text-white bg-teal-700 ">
	<div class="w-2/4 flex flex-col justify-center">
		<h2 class="lg:text-5xl text-4xl font-semibold text-white leading-none ml-8 mb-2">ICT QUERY</h2>	   
    	<div class="w-full">
        	<div class="w-full  mb-4 lg:mb-0">
        		<p class="text-white mb-2 lg:text-2xl tracking-wide ml-8 ">Find the ideal job or project and connect with the right people.</p>            
        	</div> 		     
   		</div>  
		   <%= form_tag(search_page_path, :method => "get",   
		   class: 'form ml-8  flex flex-row divide-x mt-4 divide-teal-700  w-full') do %>  
		 <div class="input-group w-full">  
		   <%= search_field_tag :search, params[:search], placeholder: "Job/Function/Project", class: "form-control px-4 py-3  w-3/5 md:border-teal-700 md:focus:border-white text-black rounded-l-xl" %>  
		   <!-- <%= search_field_tag :search, params[:search], placeholder: "Postal code/Place", class: "form-control px-4 py-3 w-56  md:border-teal-700 md:focus:border-white text-black rounded-r-xl" %>   -->
		   <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>		  
		   <div class="flex items-center w-9/10  justify-center">
			<form action="/action_page.php" class="flex flex-row items-center text-white">
				<input type="checkbox" class="form-checkbox text-red-900 rounded" id="full" name="full" value="full">
				<label for="full" class="pr-2 ml-1">Permanent</label><br>
				<input type="checkbox" class="form-checkbox text-red-900 rounded" id="part" name="part" value="part">
				<label for="part" class="pr-2 pl-1">Fixed term</label><br>
				<input type="checkbox" class="form-checkbox text-red-900 rounded" id="free" name="free" value="free">
				<label for="free" class="pr-2 pl-1">Freelance</label><br>
				<input type="checkbox" class="form-checkbox text-red-900 rounded" id="home" name="home" value="home">
				<label for="home" class="pr-2 pl-1"> Work from home</label><br><br>
			</form>
			</div> 
		
		 </div>  
	   <% end %>	
	    <!-- <div class=" ml-8  flex flex-row divide-x mt-4 divide-teal-700  w-full">
			<input type="text" class="px-4 py-3  w-96 md:border-teal-700 md:focus:border-white text-black rounded-l-xl" placeholder="Job/Function/Project">
			<input type="text" class="px-4 py-3 w-60  md:border-teal-700 md:focus:border-white text-black" placeholder="Postal code/Place">
			<a href="jobs" class="transition bg-white text-black   md:border-teal-700 px-5 py-3 rounded-r-xl font-bold hover:bg-yellow-500 block text-center border-left-grey">
				<%=image_tag("searchicon.png", alt: "search", width: "25px", height: "25px")%>		
			</a>
	    </div>    -->
  
		  		
	</div>
	<div class="w-2/4 flex justify-end">
		<%=image_tag("ICTIMG.png", alt: "ICTimg")%>
	</div>
</div>   

<div class="w-full flex flex-row justify-around items-center text-black p-4 ">
	<div>
		<img src="https://zacomic.com/wp-content/uploads/2020/05/Portfolio-Main-Cover-CM.jpg" alt="" style="margin:1em;height:20em; width:34em;">
	</div>
	<div class="flex justify-start flex-col w-3/5 p-4">
		<% if user_signed_in? %> 
		<div class="flex flex-col">
			<h1 class="text-3xl">Create your online portfolio so employers<br> can see your skills and experience.</h1>
			<div class="flex flex-row w-2/3 justify-between  items-center mt-4">
				<a href="/portfolio" class="transition bg-yellow-500 my-4 flex justify-center items-center text-black hover:text-white py-3 rounded font-bold hover:bg-yellow-600 block w-48 h-10 "> CREATE RESUME ▶ 
				</a >   
				<a href="/profile" class="transition bg-teal-600 flex justify-center items-center text-white hover:text-black py-3 rounded font-bold hover:bg-teal-500 block w-48 h-10 "> GO TO PROFILE ▶
				</a > 
			</div>
			  
		</div>
		<% else %> 
		<div class="flex flex-col">
			<h1 class="text-3xl">Create your online portfolio so employers<br> can see your skills and experience.</h1>
			<a href="/users/sign_in" class="transition bg-yellow-500 my-4 flex justify-center items-center text-black hover:text-white py-3 rounded font-bold hover:bg-yellow-600 block w-44 h-10 "> LOGIN ▶ 
			</a >   
		</div>
		<div class="flex flex-col mt-2">
		<h2 class="text-3xl ">Don't have an account yet?</h2>
		<a href="/users/sign_up" class="ransition bg-teal-600 my-4 flex justify-center items-center text-white hover:text-black py-3 rounded font-bold hover:bg-teal-500 block w-44 h-10"> REGISTER ▶
		</a >   
		</div>
		<% end %>
	</div>
</div>
	
   
<div class="w-full h-60 bg-teal-700 py-4 p-3 flex flex-col items-center">
	<div class="container shadow-lg w-full mt-2 bg-white mx-auto">
		<div class="grid grid-flow-col shadow-lg  auto-cols-max">		
 		    <div class="animate-fade-in-down p-5 text-center border-r border-coolGray-200">
				<h3 class="text-center text-teal-700 lg:text-5xl text-4xl">...</h3>
				<h4 class="lg:text-3xl text-2xl mt-3">Open vacancies</h4>
			 </div>
 		    <div class="animate-fade-in-down p-5 text-center border-r border-coolGray-200">
				<h3 class="text-center text-teal-700 lg:text-5xl text-4xl">...</h3>
				<h4 class="lg:text-3xl text-2xl mt-3">Companies hiring</h4>
			 </div>
 		    <div class="animate-fade-in-down p-5 text-center border-r border-coolGray-200">
				<h3 class="text-center text-green-700 lg:text-5xl text-4xl">...</h3>
				<h4 class="lg:text-3xl text-2xl mt-3">Applications</h4>
			 </div>
 			<div class="animate-fade-in-down p-5 text-center border-r border-coolGray-200">
				<h3 class="text-center text-teal-700 lg:text-5xl text-4xl">...</h3>
				<h4 class="lg:text-3xl text-2xl mt-3">People hired</h4>
			</div>
			<div class="animate-fade-in-down p-5 text-center">
				<h3 class="text-center text-teal-700 lg:text-5xl text-4xl">...</h3>
				<h4 class="lg:text-3xl text-2xl mt-3">Companies connected</h4>
			 </div>
		</div>
	</div>
	<div class="flex items-center my-6">
		<a href="/about"  class="text-2xl text-white mr-4 hover:underline">Would you like to get to know us better?</a> 
	</div>
</div>      


<div class="w-full  mx-auto text-lime lg:py-4">
    <div class="w-full  flex content-center justify-center flex-col">
        <h2 class="lg:text-3xl text-2xl self-center flex mt-4 font-semibold text-black leading-none">Our Partners</h2>
	  <div class="carousel relative w-full  bg-white">
		<div class="carousel-inner max-h-72 relative overflow-hidden w-full">
	  <!--Slide 1-->
		<input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
		<div class="carousel-item absolute opacity-0" >			
			<%=image_tag("QPa1.png", alt: "partners")%>
		</div>
		<label for="carousel-4" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-transparent hover:bg-teal-600 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
		<label for="carousel-2" class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-transparent hover:bg-teal-600 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
		
		<!--Slide 2-->
		<input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
		<div class="carousel-item absolute opacity-0" >
			<%=image_tag("QPa2.png", alt: "partners")%>
		</div>
		<label for="carousel-1" class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-transparent hover:bg-teal-600  leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
		<label for="carousel-3" class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-transparent hover:bg-teal-600  leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label> 
		
		<!--Slide 3-->
		<input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
		<div class="carousel-item absolute opacity-0" >
			<%=image_tag("QPa3.png", alt: "partners")%>
		</div>
		<label for="carousel-2" class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-transparent hover:bg-teal-600 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
		<label for="carousel-4" class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-transparent hover:bg-teal-600 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
		
		<!--Slide 4-->
		<input class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden="">
		<div class="carousel-item absolute opacity-0" >
			<%=image_tag("QPa4.png", alt: "partners")%>
		</div>
		<label for="carousel-3" class="prev control-4 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-transparent hover:bg-teal-600  leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
		<label for="carousel-1" class="next control-4 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-transparent hover:bg-teal-600  leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

		<!-- Add additional indicators for each slide-->
		<ol class="carousel-indicators">
			<li class="inline-block mr-3">
				<label for="carousel-1" class="carousel-bullet cursor-pointer block text-4xl text-grey-100 hover:text-teal-600">•</label>
			</li>
			<li class="inline-block mr-3">
				<label for="carousel-2" class="carousel-bullet cursor-pointer block text-4xl text-grey-100 hover:text-teal-600">•</label>
			</li>
			<li class="inline-block mr-3">
				<label for="carousel-3" class="carousel-bullet cursor-pointer block text-4xl text-grey-100 hover:text-teal-600">•</label>
			</li>			
			<li class="inline-block mr-3">
				<label for="carousel-4" class="carousel-bullet cursor-pointer block text-4xl text-grey-100 hover:text-teal-600">•</label>
			</li>			
		</ol>
		
		</div>
	  </div>
	</div>
</div>




<style>
	.carousel-open:checked + .carousel-item {
		position: static;
		opacity: 100;
	}
	.carousel-item {
		-webkit-transition: opacity 0.6s ease-out;
		transition: opacity 0.6s ease-out;
	}
	#carousel-1:checked ~ .control-1,
	#carousel-2:checked ~ .control-2,
	#carousel-3:checked ~ .control-3,
	#carousel-4:checked ~ .control-4 {
		display: block;
	}
	.carousel-indicators {
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: 2%;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 10;
	}
	#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
	#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
	#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
	#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet {
		color: #0D9488;  /*Set to match the Tailwind colour you want the active one to be */
	}
</style>






